spring:
  profiles:
    active: staging
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
        default_batch_fetch_size: 100
    open-in-view: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:mysql://collectcard-cluster.cluster-ciy3wcu0axct.ap-northeast-2.rds.amazonaws.com:3306/collectcard?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: org.mariadb.jdbc.Driver
    username: collectcard_was
    password: ${DEVELOPMENT_COLLECTCARD_DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      connection-timeout: 5000
      validation-timeout: 4000
      max-lifetime: 600000
    type: com.zaxxer.hikari.HikariDataSource

logging:
  level:
    com.zaxxer.hikari.HikariConfig: INFO
    com.zaxxer.hikari: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO

host:
  card:
    shinhancard: https://devopenapi.shinhancard.com:8443

shinhancard:
  organizationId: shinhancard
  objectId: 596d66692c4069c168b57c59
  host: https://devopenapi.shinhancard.com:8443
  clientId: ${DEVELOPMENT_SHINHANCARD_CLIENT_ID}
