spring:
  profiles:
    active: production
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
        default_batch_fetch_size: 100
    open-in-view: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:mysql://prod-collectcard-cluster.cluster-cejbmksulyv2.ap-northeast-2.rds.amazonaws.com:3306/collectcard?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: collectcard_was
    password: ${PRODUCTION_COLLECTCARD_DB_PASSWORD}
    hikari:
      maximum-pool-size: 70
      connection-timeout: 5000
      validation-timeout: 4000
      max-lifetime: 600000
      minimum-idle: 60
      idle-timeout: 540000

logging:
   level:
     com.zaxxer.hikari.HikariConfig: INFO
     com.zaxxer.hikari: INFO
     org.hibernate.SQL: INFO
     org.hibernate.type.descriptor.sql.BasicBinder: INFO

shinhancard:
  organizationId: shinhancard
  objectId: 5880ec0575c8e8fbdc00aced
  host: https://openapi.shinhancard.com:8443
  clientId: ${PRODUCTION_SHINHANCARD_CLIENT_ID}
