spring:
  profiles:
    active: local
  application:
    name: collectcard
logging:
  config: classpath:logback/logback-${spring.profiles.active}.xml
  level:
    com.zaxxer.hikari.HikariConfig: WARN
    com.zaxxer.hikari: TRACE

application:
  log:
    dir: ./logs

management:
  metrics:
    export:
      statsd:
        enabled: true
        flavor: telegraf
        polling-frequency: 5s
        max-packet-length: 5000
        host: localhost
        port: 8126
        publish-unchanged-meters: true

connect-server:
  host: connect
  port: 8080

cipher-server:
  uri: dns:///cipher-headless:18081

card-server:
  uri: dns:///card-headless:18081

loan-server:
  uri: dns:///loan-headless:18081

accountbook-server:
  uri: dns:///accountbook-headless:18081


shinhancard:
  clientId: ${DEVELOPMENT_SHINHANCARD_CLIENT_ID}
  organizationObjectid: 596d66692c4069c168b57c59

grpc:
  port: 18081
  enable-reflection: true
  enabled: true
  in-process-server-name: collect-server-process
  shutdownGrace: 20

aws:
  region: ap-northeast-2
  iam:
    collectcard:
      access-key: ${PRODUCTION_AWS_IAM_COLLECTCARD_ACCESS_KEY}
      access-token: ${PRODUCTION_AWS_IAM_COLLECTCARD_ACCESS_TOKEN}

server:
  port: 9090
