spring:
  profiles:
    active: local
  main:
    web-application-type: none
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  application:
    name: collectcard


collectcard:
  datasource:
    url: jdbc:mysql://dev-barista-cluster.cluster-cejbmksulyv2.ap-northeast-2.rds.amazonaws.com:3306/connectcard?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    username: connectcard_was
    password: ${DEVELOPMENT_COLLECTCARD_DB_PASSWORD}
    hikari:
      idle-timeout: 30000
      minimum-idle: 10
      maximum-pool-size: 30
      connection-timeout: 5000
      validation-timeout: 4000
      max-lifetime: 1800000

mydata:
  datasource:
    url: jdbc:mysql://dev-barista-cluster.cluster-cejbmksulyv2.ap-northeast-2.rds.amazonaws.com:3306/connectcard?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    username: connectcard_was
    password: ${DEVELOPMENT_MYDATA_DB_PASSWORD}
    hikari:
      hikari:
        idle-timeout: 30000
        minimum-idle: 10
        maximum-pool-size: 30
        connection-timeout: 5000
        validation-timeout: 4000
        max-lifetime: 1800000

logging:
  config: classpath:logback/logback-${spring.profiles.active}.xml
  level:
    com.zaxxer.hikari.HikariConfig: WARN
    com.zaxxer.hikari: TRACE

application:
  log:
    dir: ./logs

sentry:
  servername: collectcard
  dsn: ${SENTRY_DATA_SOURCE_NAME}
  level: ERROR
  stacktrace.app.packages: com.rainist.collectcard.*


management:
  metrics:
    export:
      statsd:
        enabled: true
        flavor: telegraf
        polling-frequency: 5s
        max-packet-length: 5000
        host: localhost
        port: 8126
        publish-unchanged-meters: true
    tags:
      application: ${spring.application.name}
      active: ${spring.profiles.active}

connect-server:
  host: connect
  port: 8080

shinhancard:
  clientId: ${DEVELOPMENT_SHINHANCARD_CLIENT_ID}

grpc:
  port: 18081
  enable-reflection: true
  enabled: true
  in-process-server-name: collect-server-process
