spring:
  profiles:
    active: local
  main:
    web-application-type: none
  application:
    name: collectcard

logging:
  config: classpath:logback/logback-${spring.profiles.active}.xml
  level:
    com.zaxxer.hikari.HikariConfig: WARN
    com.zaxxer.hikari: TRACE

application:
  log:
    dir: ./logs

management:
  metrics:
    export:
      statsd:
        enabled: true
        flavor: telegraf
        polling-frequency: 5s
        max-packet-length: 5000
        host: localhost
        port: 8126
        publish-unchanged-meters: true

connect-server:
  host: connect
  port: 8080

shinhancard:
  clientId: ${DEVELOPMENT_SHINHANCARD_CLIENT_ID}
  organizationObjectid: 596d66692c4069c168b57c59

grpc:
  port: 18081
  enable-reflection: true
  enabled: true
  in-process-server-name: collect-server-process
  shutdownGrace: 20
